<?xml version="1.0"?>
<launch>
  <!-- Set parameters -->
  <arg name="linear_speed" default="0.5"/>
  <arg name="angular_speed" default="0.2"/>
  <arg name="camera_fps" default="30"/>
  
  <!-- Launch driver node -->
  <node name="deviceshifu_driver" pkg="driver_node_ros1" type="driver_node.py" output="screen">
    <param name="linear_speed" value="$(arg linear_speed)"/>
    <param name="angular_speed" value="$(arg angular_speed)"/>
    <param name="camera_fps" value="$(arg camera_fps)"/>
  </node>
</launch> 